{%extends 'customers/cbase.html'%}
{% block body_block%}


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.product_image.url}}" alt="..." style="height: 600px; width: 500px;"></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="fs-5 mb-5">
                    <span>Rs:{{product.cost}}</span>
                </div>
                <p class=""><strong>Category</strong>:{{product.category}}</p>
                <p class="lead">
                    {{product.description}}
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                    <em>Vendor:{{product.vendor}}</em>
               
                    <div class="d-flex py-2">
                    <a class="btn btn-outline-dark flex-shrink-0" href="{%url 'add-to-cart' product.id%}">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}